// lock scroll if open nav list
body._lock {
	overflow: hidden;
}

// header
.header {
	width: 100%;
	z-index: 10;
	background-color: rgb(0, 166, 255);
	position: fixed;
	top: 0;
	left: 0;

	&__container {
		// width container
		max-width: $widthContainer;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: $headerMinHeight;
		padding: 0 20px;
	}

	// logo
	&__logo {
		display: flex;
		align-items: center;
		z-index: 2;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: rgb(255, 255, 255);
			object-position: center;
			object-fit: cover;
		}
		h1 {
			color: white;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
	}
}

// nav menu
.menu {
	position: relative;

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__link {
		color: white;
	}
	&__link:hover {
		text-decoration: underline;
	}
}

// media
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		display: block;
		width: 100%;
		height: 10%;
		background-color: white;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
	}
	.menu__icon::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10%;
		background-color: white;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
	}
	.menu__icon::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10%;
		background-color: white;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
	}
	.menu__icon._active::after {
		content: '';
		top: 50%;
		left: 0;
		transform: rotate(45deg) translate(0, -50%);
	}
	.menu__icon._active::before {
		content: '';
		top: 50%;
		left: 0;
		transform: rotate(-45deg) translate(0, -50%);
	}
	.menu__icon._active span {
		content: '';
		transform: scale(-0.5) rotate(45deg) translate(0, 50%);
		opacity: 0;
	}
	.menu {
		&__body {
			position: fixed;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.9);
			padding: 100px 30px 30px 30px;
			transition: all 0.3s ease 0s;
			overflow: auto;
		}
		&__body._active {
			left: 0;
		}
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__list li {
			margin-bottom: 30px;
		}
		&__list li:last-child {
			margin-bottom: 0px;
		}
		&__link {
			font-size: 24px;
			color: white;
		}
		&__link:hover {
			text-decoration: underline;
		}
		&__body::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			// height header
			height: $headerMinHeight;
			width: 100%;
			background-color: rgb(0, 166, 255);
		}
	}
}
