<header class="header">
	<div class="header__container">
		<div class="header__logo">
			<img src="" alt="" />
			<h1>LOGO</h1>
		</div>
		<div class="header__menu menu">
			<div class="menu__icon">
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li><a data-goto=".sec1" href="#" class="menu__link">Раздел 1</a></li>
					<li><a data-goto=".sec2" href="#" class="menu__link">Раздел 2</a></li>
					<li><a data-goto=".sec3" href="#" class="menu__link">Раздел 3</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
