.tabs {
	&__items {
		display: flex;
	}

	&__item {
		flex: 0 1 33.3333%;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__block {
		display: none;
	}

	._active-tabs_block {
		display: block;
		background-color: rgb(0, 166, 255);
	}
	._active-tabs_item {
		background-color: rgb(0, 166, 255);
	}
}
