<!--
spoller work when window width = ##
   data-spollers="##,max"
   data-spollers="##,min"
if need oner working spoller:
   data-one-spoller
if u need active first spoller add for "spoller__title" class "_active"
-->

<div data-spollers data-one-spoller class="spoller">
	<div class="spoller__item">
		<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Spoller №1</button>
		<div class="spoller__text">Spoller text №1</div>
	</div>
	<div class="spoller__item">
		<button tabindex="-1" type="button" data-spoller class="spoller__title">Spoller №2</button>
		<div class="spoller__text">Spoller text №2</div>
	</div>
	<div class="spoller__item">
		<button tabindex="-1" type="button" data-spoller class="spoller__title">Spoller №3</button>
		<div class="spoller__text">Spoller text №3</div>
	</div>
</div>
